/* 屏蔽浏览器区别*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* 设置html字体大小，可以使用rem相对根设置大小 1 rem = 10 px;*/
/*媒体查询控制html字体大小*/
@media (max-width: 767px) {
    html {
        font-size: 14px;
        color: white;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: white;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 20px;
        color: white;
    }
}

section {
    overflow: hidden;
}

.ajaxLoading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1003;
    width: 100%;
    height: 100%;
    padding-top: 55%;
    text-align: center;
}

img {
    border: 0;
    width: 100%;
}

.page_background {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.page1_div {
    height: 20rem;
    width: 31rem;
    margin: 20rem auto 0
}

.page1_div > img {
    position: relative;
}

.page1_text_div {
    margin-top: 60rem;
}

.page1_text_div p {
    position: relative;
    margin: 5rem auto;
    font-size: 4rem;
    text-align: center
}

.page1_text_div div {
    position: relative;
    height: 8.6rem;
    width: 31rem;
}

.page1_text_div div img {
    position: absolute;
}

.page1_text_div div input {
    position: absolute;
    height: 8.6rem;
    width: 31rem;
    opacity: 0
}

.page2, .page3 {
    display: none;
}

.page2_div1 {
    height: 60rem;
}

.page2_div1 img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page2_div1 div {
    position: absolute;
    height: 20rem;
    width: 100%;
    margin: 15rem auto 0
}

.page2_div1 div p {
    line-height: 4rem;
    font-size: 4rem;
    margin: 1rem 0 2rem 1rem;
}

.page2_div1 div p label {
    display: inline-block;
    font-size: 4rem;
    background: url(../image/point.png) no-repeat left center / 4rem 5rem;
    height: 5rem;
    line-height: 5rem;
    padding-left: 5rem;
    float: left;
}

.page2_div1 div input {
    height: 4rem;
    width: 68%;
    line-height: 4rem;
    font-size: 4rem;
    background: none;
    color: white;
    border: 0;
    outline: none;
}

/* 设置input placeholder字颜色*/
.page2_div1 div input::-webkit-input-placeholder {
    color: #fff;
}

.page2_div1 div input::-moz-placeholder {
    color: #fff;
}

.page2_div2 {
    position: relative;
    height: 60rem;
}

.page2_div2 button {
    height: 8rem;
    line-height: 4rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    font-size: 4rem;
    color: #fff;
    border: 0;
    background: linear-gradient(to right, #ff9a2e, #e9451e);
}