*{ margin:0; padding:0}
ul{
    list-style: none;
}
.tab{
    width: 300px;
    margin: 0 auto;
}
.tab .tab_menu{
    border: 1px solid #000000;
    height: 30px;
    width: 300px;
}
.tab .tab_menu ul li{
    float: left;
    width: 99px;
    text-align: center;
    line-height: 30px;
    border-right: 1px #333333 solid;
}
.tab .tab_menu ul li:last-child{
    border-right:none;
    width: 100px;
}
.tab .tab_menu ul li.on{
    background: #999;
}
.tab .tab_box > div{
    width: 300px;
    height: 200px;
    border: #333333 solid;
    border-width: 0 1px 1px 1px;
    display: none; //将三个内容框架全隐藏，通过下面的:first-child属性只将第一个框架内容显示出来
}
.tab .tab_box > div:first-child{
    display: block;
}